.App {
  text-align: center;
  padding: 1rem;
  height: 100vh;
  overflow: auto;
}

.App-logo {
  width: 150px;
  display: block;
  aspect-ratio: 1;
}
ion-row{
  min-height: 50px;
}

.inner-page {
  animation: fill-to-left;
  animation-duration: 300ms;
}

@keyframes fill-to-left {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}